body {
    font-family: 'open-sans-bold', serif;
    /*font-size: 18px;*/
}

.main-background {
    background: #6B1D1E url("/assets/image/back_top_deepdarkred.jpg") no-repeat;
    max-width: 1680px;
}

/* Font Face Settings */
@font-face {
    font-family: 'open-sans-bold';

    src: url('/assets/fonts/OpenSans-Bold.eot');
    src: url('/assets/fonts/OpenSans-Bold.eot?iefix') format('embedded-opentype'),
    url('/assets/fonts/OpenSans-Bold.ttf');
    font-weight: normal;

}

/* -- Login Style -- */

#login ul {
    list-style-type: none;
    text-align: center;
}

#login li {
    display: inline;
    margin-top: 10px;
}

#login input {
    padding-left: 5px;
    padding-right: 5px;
}

#login button {
    text-transform: uppercase;
    text-align: center;
}

#login button:hover {
    border: 2px outset buttonface;
}

#login .password-reset-message{
    text-align: center;
    margin-top: 20px;
}

.loginElement {
    height: 40px;
    width: 100%;
    background-color: #FFF;
    border: 0 solid #FFF;
    color: #000;
}

.label-email{
    padding: 10px 5px 0 0 !important;
    text-align: right;
    height: 40px;
}

/* -- Main Page Style -- */

#header-container {
    min-height: 20vh;
    height: 200px;
    max-height: 400px;
}

#header-title {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    color: #ECE090;

}

.page-header {
    border: 0px;

}

#nav {
    font-size: 18px;
    background-color: #6B1D1E;
    /*border: solid 1px #000000;*/
    border-radius: 0 !important;
    padding: 0;

}

#nav li {
    list-style: none;
    color: #ECE090;
}

#nav li:hover {
    color: #faee9e;
    background-color: #501b1c;
}

.navbar {
    /*margin-bottom: 0px;*/
    border: none;
}

.navbar-removepadding {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
    color: inherit;
}

.navbar-default .navbar-nav > li > a:hover {
    color: inherit;
}

#nav .navbar-brand {
    color: #faee9e !important;
}

/*ECE090  6B1D1E*/
.content {
    background-color: #ECE090;
    min-height: 40vh;
    color: #6B1D1E;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.content .row {
    margin-left: 0;
    margin-right: 0;
}

.contentTitle {
    margin-left: 15px !important;
}

.newsItem {
    margin-bottom: 1px;
}

.newsItem .newsHead {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #8c2425;
    border: solid 1px #000000;
    cursor: pointer;
}

.newsItem.activeItem .newsHead {
    border-bottom: solid 2px #000000;
}

/* #8c2425 */
.newsItem .newsBody {
    background-color: #ECE090;
    border-bottom: solid 1px #000000;
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
}

.newsItem .newsTitle {
    font-weight: bold;
    font-size: 14pt;
    color: #ECE090;
}

.newsItem .newsContent {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12pt;

}

/*#############################*/
.newsDetail {
    margin-right: 0;
    margin-left: 0;
}

.newsDetail .newsTitle {
    font-weight: bold;
    font-size: 14pt;
}

.newsDetail .newsContent {
    padding: 15px;
    font-size: 12pt;

}

.newsMeta {
    font-size: 8pt;
    font-weight: 200;
    font-style: italic;
    margin-top: 5px;

}

.newsMeta .value {
    font-weight: bold;
}

.newsCategory {
    text-align: right;
    padding-right: 0;
    color: #ECE090;
}

.label-category {

}

.fileDownload {
    color: #ffffff;
}

.fileDownload:hover {
    color: #ffffff;
}

.profil {

}

.profil .userbar {
    margin-top: 15px;
    margin-bottom: 15px;
}

.profil .navbar-brand {
    color: #6B1D1E;
}
.profil .navbar-brand:hover {
    color: #6B1D1E;
}

.profil .profil-navbar {

}

.profil .profil-navbar li{
    border-bottom: solid 1px #6B1D1E;
}
.profil .profil-navbar li:hover {
    background-color: #c9bd7b;;
}

.profil .navbar-collapse{
    margin-left: 5px;
    margin-right: 5px;
    border-top: none;
}

.profil .navbar-header {
    margin-left: 5px;
    margin-right: 5px;
    border-top: solid 1px #6B1D1E;
    border-bottom: solid 1px #6B1D1E;
}

.profil .navbar {
    background-color: #ECE090;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.profil .nav.navbar-nav {
    width: inherit;
}

.profil .navbar-toggle {
    background-color: transparent;
    border-color: transparent;
}

.profil .navbar-toggle:hover {
    background-color: #c9bd7b;
    border-color: transparent;
}

.profil .profil-picture{
    max-width: 80px;
    min-width: 50px;
    padding-left: 0;
    padding-right: 0;
}

.remove-margin {
    margin: 0;
}

.remove-padding{
    padding: 0;
}

/*###############################*/

.container {
    border: solid 2px #000000;
}

.footer {
    border-top: solid 1px #000000;
    font-weight: 100;
    font-size: 8pt;
    text-align: center;
}

.footer .linklist {
    margin: 10px 0 10px 0;
}

.footer .copyright {
    color: #000000;
}

#formatting-container {
    border: solid 1px #c4c4c4;
}

#editor-container {
    border: solid 1px #c4c4c4;
    border-top: none;
    /*min-height: 250px;*/
}

.ql-editor {
    min-height: 250px !important;
    max-height: 50vh !important;
}
