.row.content
  .row
    .col-sm-3.contentTitle
      %h2 Downloads
  .row
    .col-sm-12.sortAndFilter
  - foreach ($downloadlist as $downloadgroup)
    partial:'partial/downloadgroup'
  partial:'partial/pagination'