.row.content#login
  .col-md-12.contentTitle
    %h2 Login
  %ul.col-sm-12
    %form{:action => $postURL, :method => "POST"}
      %li.col-md-4.col-sm-6.col-xs-12
        %input#loginEmail.loginElement{:name => "email", :placeholder => "Email", :type => "email"}
      %li.col-md-4.col-sm-6.col-xs-12
        %input#loginPassword.loginElement{:name => "password", :placeholder => "Passwort", :type => "password"}
      %li.col-md-4.col-sm-12.col-xs-12
        %button#loginSubmit.loginElement{:type => "submit"}LOGIN
  .col-xs-12
    .col-md-4.col-sm-12.col-xs-12.col-md-offset-8
      %a{:href => "/auth/passwordreset"}Passwort vergessen