!!!
%html
  %head
    -# META
    %meta{:charset => "utf-8"}

    -# Title
    %title Sing a Song Mitgliederbereich

    %meta{:name => "viewport",  :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}

    %link{:rel=>"icon", :type=>"image/png", :sizes=>"32x32", :href=>"/favicon.png"}

    -# Latest compiled and minified CSS
    -# %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/bootstrap.css", :rel => "stylesheet"}/

    -# Main stylesheet
    %link{:href => "/assets/css/main.css", :rel => "stylesheet", :type => "text/css"}/
    -# JQuery JavaScript
    -# %script{:src => "//code.jquery.com/jquery-1.11.2.min.js"}
    %script{:src => "/assets/js/jquery-1.11.2.min.js"}
    -# Latest compiled and minified JavaScript
    -# %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"}
    %script{:src => "/assets/js/bootstrap.min.js"}

    -# TextEditor
    %script{:src => "/assets/js/quill.min.js"}
    %link{:href => "/assets/css/quill.base.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/css/quill.snow.css", :rel => "stylesheet", :type => "text/css"}

  %body
    .container-fluid.main-background
      -# including Header
      partial:'partial/header'

      -# including Content
      partial: $subview

      -# including Footer
      partial: 'partial/footer'

    %script{:type=>"text/javascript", :src=>"http://jira.code2code.de/s/fabb9f1504885daf0e1d3cb64e5b4529-T/de_DE-fuizty/64023/4/1.4.26/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=de-DE&collectorId=62fed96b"}

!!! XML