%nav#nav.navbar.navbar-default.navbar-removepadding
  .navbar-header
    %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand.hidden-lg.hidden-md.hidden-sm Menü
  #navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        %a{:href => "/news/list"}
          Neuigkeiten
      %li
        %a{:href => "/download"}
          Downloads
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown", :role=>"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
          = $user->surname
          = $user->name
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href=>"/user/show"}Profil
          %li
            %a{:href=>"#"}Kontoeinstellungen
          %li.divider
          -if($user->hasRole('role.usermanager') || $user->hasRight('usermanager.view'))
            %li
              %a{:href => "/usermanager"}UserManager
            %li.divider
          %li
            %a{:href=>"/logout"}Logout