.row.content
  .row
    .col-sm-3.contentTitle
      %h2 Aktuelles
  .row.col-xs-12#newslist{:role => "tablist", "aria-multiselectable"=>"true"}
    - foreach ($newslist as $newsitem)
      partial:'partial/newsitem'
  partial:'partial/pagination'
partial: 'Modal/NewsEditModal'
  %script{:src => "/assets/js/newsjs.js"}