.row.content
  .row.newsDetail
    %h2.col-xs-11.newsTitle
      - if ($newsitem->updater != null)
        [UPDATED]
      = $newsitem->title
    .col-xs-11.newsMeta
      Erstellt am
      %span.value
        -$_date($newsitem->created_at);
      um
      %span.value
        -$_time($newsitem->created_at);
      von
      %span.value
        =$newsitem->getAuthor()->name
        ,
        = $newsitem->getAuthor()->surname
    .newsMenu.col-xs-1{:style => "text-align: right;font-size: 14pt;"}
      -#Todo Remove Inline CSS
      -#TODO @Simon pls Designen
      -if($user->hasRight('news.edit'))
        %button.btn.glyphicon.glyphicon-edit.editNews{"data-newsID" => $newsitem->newsID}
      -if($user->hasRight('news.delete'))
        %button.btn.glyphicon.glyphicon-remove.deleteNews{"data-newsID" => $newsitem->newsID}
    .col-md-12.newsContent
      - $_nt($newsitem->text);
  partial:'commentslist'