-# TODO Validate Password Input (Lenght etc.)
.row.content#login
  .col-xs-12.contentTitle
    %h2 Passwort zurücksetzen
  -if($message)
    .col-md-6.col-sm-12.col-xs-12.col-md-offset-2
      .col-xs-12.col-sm-12.col-md-10.remove-padding.col-md-offset-2.password-reset-message
        - $_nt($message)
  %ul
    -if($query)
      %form{:action => "/auth/passwordreset/".$query, :method=>"post"}

        %li.col-md-6.col-sm-12.col-xs-12.col-md-offset-2
          .col-xs-12.col-sm-12.col-md-2.remove-padding
            Kennwort:
          .col-xs-12.col-sm-12.col-md-10.remove-padding
            %input.loginElement{:type=>"password", :name=>"password", :placeholder=>"**********"}
        %li.col-md-6.col-sm-12.col-xs-12.col-md-offset-2
          .col-xs-12.col-sm-12.col-md-2.remove-padding
            Kennwort bestätigen:
          .col-xs-12.col-sm-12.col-md-10.remove-padding
            %input.loginElement{:type=>"password", :name=>"password_confirm", :placeholder=>"**********"}
        %li.col-md-6.col-sm-12.col-xs-12.col-md-offset-2
          .col-xs-12.col-sm-12.col-md-10.remove-padding.col-md-offset-2
            %button.loginElement{:type=>"submit"}Password ändern
    %li.col-md-6.col-sm-12.col-xs-12.col-md-offset-2
      .col-xs-12.col-sm-12.col-md-10.remove-padding.col-md-offset-2
        %a{:href => "/login"}Zurück zum Login
