.row.content#login
  .col-xs-12.contentTitle
    %h2 Passwort zurücksetzen
  %ul.col-xs-12
    %form{:action => "/auth/passwordreset", :method=>"post"}
      %li.col-md-6.col-sm-12.col-xs-12.col-md-offset-1
        .col-xs-2.col-sm-1.col-md-2.remove-padding.label-email
          Email:
        .col-xs-10.col-sm-11.col-md-10.remove-padding
          %input.loginElement{:type=>"email", :name=>"email", :placeholder=>"max.mustermann@mail.de"}
      %li.col-md-4.col-sm-12.col-xs-12
        %button.loginElement{:type=>"submit"}Reset Password
  -if($showMessage)
    .col-xs-6.col-xs-offset-3.password-reset-message
      %p
        Wir haben Ihnen eine Email an die Adresse
        %span{:style => "text-decoration: underline;"}
          = $useremail
        geschickt. Klicken Sie dort den angegebenen Link und folgen Sie den Anweisungen um Ihr Passwort zurück zu setzen.
      %p
        %a{:href => "/login"}Zurück zum Login
  -else
    .col-xs-12
      .col-md-4.col-sm-12.col-xs-12.col-md-offset-7
        %a{:href => "/login"}Zurück zum Login