.row.content.profil
  .row.userbar
    .col-xs-12.col-sm-8.col-md-4.col-lg-2
      %img.col-xs-4.profil-picture{:src => "/assets/image/profil.png"}
      .col-xs-4 User
      .col-xs-8
        = $user->surname." ".$user->name
  .row
    .col-xs-12.navbar.navbar-default
      .navbar-header{"data-target" => "#profilnav-collapse", "data-toggle" => "collapse"}
        %span.navbar-toggle.collapsed{"data-target" => "#profilnav-collapse", "data-toggle" => "collapse"}
          %span.sr-only Toggle navigation
          %span.glyphicon.glyphicon-chevron-down
        %a.navbar-brand.hidden-lg.hidden-md.hidden-sm Optionen
      #profilnav-collapse.collapse.navbar-collapse
        .profil-navbar
          %ul.nav.navbar-nav
            %li
              %a{:href => "/user/show"}Anzeigen
            %li
              %a{:href => "/user/edit"}Bearbeiten
  .row
    .col-xs-12
      .col-xs-12.col-md-10.col-lg-8.col-lg-push-4.col-md-push-2
        %h3 Profil Daten
        .profil-name
          Name:
          = $user->surname." ".$user->name
        .profil-email
          Email:
          = $user->email
      .col-xs-12.col-md-2.col-lg-4.col-lg-pull-8.col-md-pull-10.activityFeed
        %h3 ActivityFeed
        %ul
          %li something
          %li something
          %li something
          %li something
          %li something
          %li something

