!!!
%html
  %head
    -# META
    %meta{:charset => "utf-8"}

    %meta{:name => "viewport",  :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}

    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", :rel => "stylesheet"}
    :css
      .footer {
        border-top: solid 1px #000000;
        font-weight: 100;
        font-size: 8pt;
        text-align: center;
      }
      .footer .linklist {
        margin: 10px 0 10px 0;
      }
      .footer .copyright {
        color: #000000;
      }
    -# Latest compiled and minified JavaScript
    -# %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"}
    %script{:src => "/assets/js/bootstrap.min.js"}

  %body
    .container-fluid
      .row
        .col-sm-12
          .page-header
            %h1
              Sing a Song -
              %span.hidden-lg.hidden-md Mitglieder-bereich
              %span.hidden-xs.hidden-sm{:style => "margin-top:5px;"} Mitgliederbereich
      .row
        Hallo
        = $account->surname." ".$account->name.","
        %br
        %br
        Sie haben angegeben, dass Sie Ihr Passwort vergessen haben. Mit folgendem Link können Sie Ihr Passwort ändern.
        %br
        %br
        %a{:href => $resetLink}
          = $resetLink
        %br
        %br
        Der Link ist 24 Stunden gültig. Sollten Sie nicht angegeben haben, dass sie Ihr Passwort vergessen haben, können Sie diese EMail ignorieren.
        %br
        %br
        Mit freundlichen Grüßen
        %br
        Administrator

      .row.footer
        .linklist
          %a{:href=>"/impressum"}
            Impressum
          \|
          %a{:href=>"/kontakt"}
            Kontakt
        .copyright
          &copy;
          = date('Y')
          Code & Design Jan Koschke, Simon Strobel
!!! XML