.modal.fade#newsEditModal
  %input#hiddenNewsID{:type => "hidden"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type=>"button", "data-dismiss"=>"modal", "aria-label"=>"Close"}
          %span{"aria-hidden"=>"true"}
            &times;
        %h4.modal-title
          News bearbeiten
      .modal-body
        .row
          %form{:action => "#", :method => "POST"}
            .col-xs-12
              %input{:type => "text", :name => "newsTitle", :placeholder => "Titel", :style => "width:100%;"}
              -#Todo Remove Inline CSS
            .col-xs-12
              partial: 'partial/editor'
            .col-xs-12.selectCategory
              %select{:title => "Kategorie", :style => "width: 100%;"}
              -#Todo Remove Inline CSS
      .modal-footer
        %button.btn.btn-default.btn-cancel{:type=>"button", "data-dismiss"=>"modal"}
          %span.glyphicon.glyphicon-remove
          Abbruch
        %button.btn.btn-primary.btn-save{:type=>"button"}
          %span.glyphicon.glyphicon-floppy-disk
          Speichern