.col-xs-12.newsItem
  .newsHead.col-xs-12{"data-toggle"=>"collapse", "data-target" => "#newsBody".$downloadgroup->groupID}
    .newsTitle.col-xs-10
      %span.glyphicon.glyphicon-chevron-down
      =$downloadgroup->name
      %a{:href=>"/download/detail/".$downloadgroup->groupID, :style => "font-size:8pt;"}share
      -#Todo Remove Inline CSS
    .newsCategory.col-xs-2
      %span.label.label-category
        =$downloadgroup->getType()->name
  .newsBody.col-xs-12.collapse{:id => "newsBody".$downloadgroup->groupID}
    .newsMeta.col-xs-12
    .newsContent.col-xs-12
      .table-responsive
        %table.table.table-bordered
          %tr
            %th{:style => "width: 60%;"} Titel
            %th{:style => "width: 30%;"} Kategorie
            %th{:style => "width: auto;"} Download
          - foreach($downloadgroup->getFiles() as $file)
            %tr
              %td
                = $file->filename
              %td
                = $file->getCategory()->name
              %td
                %a.fileDownload{:href => $file->filehash}
                  %span.glyphicon.glyphicon-download