#editor-wrapper
  #formatting-container
    -#%select.ql-font{:title => "Font"}
      -#%option{:selected => "selected", :value => "sans-serif"} Sans Serif
      -#%option{:value => "Georgia, serif"} Serif
      -#%option{:value => "Monaco, 'Courier New', monospace"} Monospace
    %select.ql-size{:title => "Size"}
      %option{:value => "10px"} Small
      %option{:selected => "selected", :value => "13px"} Normal
      %option{:value => "18px"} Large
      %option{:value => "32px"} Huge
    %select.ql-color
      %option{:selected => "selected", :value => "#691D1F"}
      %option{:value => "rgb(255, 255, 255)"}
      /%option{:value => "rgb(0, 0, 0)"}
      %option{:value => "rgb(255, 0, 0)"}
      %option{:value => "rgb(0, 0, 255)"}
      %option{:value => "rgb(0, 255, 0)"}
      %option{:value => "rgb(0, 128, 128)"}
      %option{:value => "rgb(255, 0, 255)"}
      %option{:value => "rgb(255, 255, 0)"}
    %select.ql-align
      %option{:selected => "selected", :value => "left"}
      %option{:value => "center"}
      %option{:value => "right"}
      %option{:value => "justify"}
    %span.ql-format-button.ql-bold{:title => "Fett"}
    %span.ql-format-button.ql-italic{:title => "Kursiv"}
    %span.ql-format-button.ql-underline{:title => "Unterstrichen"}
    %span.ql-format-button.ql-strike{:title => "Durchgestrichen"}
    %span.ql-format-button.ql-link{:title => "Link"}
    %span.ql-format-button.ql-image{:title => "Bild"}
    %span.ql-format-button.ql-bullet{:title => "Aufzählungspunkt"}
    %span.ql-format-button.ql-list{:title => "Liste"}
  #editor-container
:javascript
  var editor = new Quill('#editor-container', {
        modules: {
          'toolbar': { container: '#formatting-container' },
          'link-tooltip': true,
          'image-tooltip': true
        },
        style: {
          '.ql-editor' : {
            'color':'#691D1F'
          }
        },
        theme: 'snow'
      });