.col-xs-12.footer
  .linklist
    %a{:href=>"/impressum"}
      Impressum
    \|
    %a{:href=>"/kontakt"}
      Kontakt
    \|
    %a{:href=>"/sitemap"}
      Sitemap
  .copyright
    &copy;
    = date('Y')
    Code & Design Jan Koschke, Simon Strobel