.row
  .col-sm-12#header-container
    .page-header#header-title
      %h1
        Sing a Song -
        %span.hidden-lg.hidden-md Mitglieder-bereich
        %span.hidden-xs.hidden-sm{:style => "margin-top:5px;"} Mitgliederbereich
        -#Todo Remove Inline CSS
- if($nav)
  partial:'navbar'