.col-xs-12.newsItem{:id => "newsItem".$newsitem->newsID}
  .newsHead.col-xs-12{"data-toggle"=>"collapse", "data-target" => "#newsBody".$newsitem->newsID, "data-parent"=>"#newslist", "aria-expanded" => "false"}
    .newsTitle.col-xs-10
      %span.glyphicon.glyphicon-chevron-down
      =$newsitem->title
      -if ($newsitem->hasEditor())
        %span.glyphicon.glyphicon-star{:style => "font-size: 8pt;"}
        -#Todo Remove Inline CSS
    .newsCategory.hidden-xs.col-sm-2
      %span.label.label-category
        =$newsitem->getCategory()->name
  .newsBody.col-xs-12.collapse{:id => "newsBody".$newsitem->newsID, :role => "tabpanel"}
    .newsMeta.col-xs-11
      Erstellt am
      %span.value
        -$_date($newsitem->created_at);
      um
      %span.value
        -$_time($newsitem->created_at);
      von
      %span.value
        =$newsitem->getAuthor()->name
        ,
        = $newsitem->getAuthor()->surname
    .newsMenu.col-xs-1{:style => "text-align: right;"}
      -#Todo Remove Inline CSS
      -#TODO @Simon Pls Designen
      -if($user->hasRight('news.edit'))
        %button.btn.glyphicon.glyphicon-edit.editNews{"data-newsID" => $newsitem->newsID}
      -if($user->hasRight('news.delete'))
        %button.btn.glyphicon.glyphicon-remove.deleteNews{"data-newsID" => $newsitem->newsID}
    .newsContent.col-xs-12
      -$_nt($_cropNews($newsitem->text, $newsitem->newsID), 700);
    - if($newsitem->hasEditor())
      .newsMeta.newsUpdater.col-xs-12
        Bearbeitet am
        %span.value
        -$_date($newsitem->updated_at);
        um
        %span.value
          -$_time($newsitem->updated_at);
        von
        %span.value
          =$newsitem->getEditor()->name
          ,
          = $newsitem->getEditor()->surname