-if($pagecount>1)
  .row.center-block
    %div{:style => "text-align: center;"}
      -# Todo Remove Inline CSS
      %ul.pagination
        -if($page>1)
          %li
            %a{:href=>"#", "aria-label"=>"Previous"}
              %span{"aria-hidden"=>"true"}&laquo;
        -for($i = 1; $i <= $pagecount; $i++)
          %li
            %a{:href=>$pager_url($i)}
              -if($i == $page)
                %strong
                  =$i
              -else
                =$i
        -if($page < $pagecount)
          %li
            %a{:href=>"#", "aria-label"=>"Next"}
              %span{"aria-hidden"=>"true"}&raquo;