.group{"data-grid" => $role->roleID}
  %h3
    = $role->roleID
    = $role->roleName
    = "(".$role->identifier.")"

  - foreach($role->rights->where('roleID',$role->roleID)->find_all() as $rrmapping)
    - foreach($rrmapping->right->where('rightID', $rrmapping->rightID)->find_all() as $right)
      %li
        = $right->rightName